## Import Libraries

In [1]:
import pandas as pd
import numpy as np

## Read data from wikipedia

In [2]:
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header = 0)

## Only keep the first list

In [3]:
# The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
df = data[0]
df.sample(10)

    Postal Code           Borough                            Neighbourhood
155         M3X      Not assigned                             Not assigned
10          M2B      Not assigned                             Not assigned
51          M7H      Not assigned                             Not assigned
122         M6S      West Toronto                       Runnymede, Swansea
106         M8P      Not assigned                             Not assigned
165         M4Y  Downtown Toronto                     Church and Wellesley
126         M1T       Scarborough  Clarks Corners, Tam O'Shanter, Sullivan
80          M9L        North York                            Humber Summit
74          M3L        North York                                Downsview
112         M5R   Central Toronto      The Annex, North Midtown, Yorkville

## Ignore cells with a borough that is Not assigned

In [4]:
df = df[df['Borough'] != 'Not assigned']
df.sample(10)

,Postal Code,Borough,Neighbourhood
108,M1R,Scarborough,"Wexford, Maryvale"
14,M6B,North York,Glencairn
94,M5N,Central Toronto,Roselawn
20,M3C,North York,Don Mills
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
9,M1B,Scarborough,"Malvern, Rouge"
80,M9L,North York,Humber Summit
13,M5B,Downtown Toronto,"Garden District, Ryerson"
2,M3A,North York,Parkwoods
143,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."

In [5]:
#Already been done
#df['Neighbourhood'] = df.groupby(['Postal Code'])['Neighbourhood'].transform(lambda x: ','.join(x))
#df.drop_duplicates()

In [6]:
df.describe()

       Postal Code     Borough Neighbourhood
count          103         103           103
unique         103          10            99
top            M8Y  North York     Downsview
freq             1          24             4

In [7]:
df.shape

(103, 3)

In [8]:
#END